div.ais-Hits {
  position: absolute;
  margin-left: 0.5em;
  width: 40ch;
  background-color: var(--color-primary);
  color: var(--text-color-primary);
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

.ais-Hits-list .ais-Hits-item {
  margin: 0.25rem auto;
  width: 100%;
}

.ais-Hits-item article {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

.hit-details {
  display: "flex";
  flex-direction: "column";
  text-align: left;
  align-self: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
}

.hit-image {
  min-width: 75px;
  max-width: 150px;
  min-height: 75px;
  max-height: 150px;
}

.hit-song {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.hit-artist {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.hit-album {
  font-style: italic;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.hit-duration {
  font-size: 0.65rem;
  font-weight: lighter;
  align-self: self-start;
}
