.ais-SearchBox-form .ais-SearchBox-input {
  background-color: var(--color-primary);
  color: var(--text-color-primary);
  margin: 0 auto;
  font-family: var(--base-font-family);
}

.search-powered-by {
  font-size: small;
  line-height: 1rem;
  padding: 0;
  margin: 0.25rem;
  text-align: right;
}

.search-powered-by > img {
  padding-left: 0.25rem;
  width: auto;
  height: auto;
  max-height: 1rem;
  vertical-align: middle;
}
