.track-list,
.track-list > * {
  margin: 0;
  padding: 0;
}

.track-list {
  display: block;
  list-style: none;
  margin: 1.5rem 0;
}

.track {
  border-bottom: 0.25ch dotted var(--mixtape-insert--folds-color);
  display: grid;
  font-family: cursive;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "track-number track-title track-duration"
    "track-number track-artist track-duration"
    "track-number track-album track-duration";
  margin: 0.75rem 0;
  text-align: left;
  min-height: 5.5rem;
}

.track--search-slot {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "track-number track-search";
}

.track__search {
  font-family: var(--base-font-family);
  grid-area: track-search;
  overflow: hidden;
}

.track__number {
  font-size: 1.25rem;
  grid-area: track-number;
  line-height: 1.5em;
  margin: 0 0.75rem;
}

.track__title {
  font-size: 1.25rem;
  grid-area: track-title;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.track__artist {
  grid-area: track-artist;
}

.track__album {
  grid-area: track-album;
  font-style: italic;
}

.track__duration {
  grid-area: track-duration;
  justify-self: flex-end;
  margin: 0 0.75rem;
}
