.purchase-dialog {
  min-width: 35ch;
  text-wrap: pretty;
}

.cart {
  text-align: left;
  margin: 2rem;
}

.cart-items {
  list-style-type: none;
}

.cart-item,
.total-line {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.track-detail {
  padding: 0 1rem 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.total-line {
  border-top: 1px solid var(--color-accent-primary);
}

span.powered-by-algolia::after {
  content: "";
  padding: 0.75rem 0;
  display: block;
  background-image: var(--algolia-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  background-origin: content-box;
  width: 100%;
  min-height: 1.1rem;
}
