.purchase-dialog {
  max-width: 40;
  text-wrap: pretty;
}

.cart {
  text-align: left;
  margin: 1rem;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item,
.fee,
.total-line {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
}

.track-detail,
fee-detail {
  padding: 0 1rem 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.total-line {
  margin: 0;
  border-top: 1px solid var(--color-accent-primary);
}

.purchase-msg {
  margin: 1.5rem auto;
}
