.track-slots-container {
  border: 5px solid var(--color-accent-primary);
  margin: 1rem;
}

.track-slots-container h3 {
  margin: 0;
  padding: 1.25rem;
  background-color: var(--color-accent-secondary);
}

.track-slots {
  margin: 1rem;
  padding: 0;
}
