#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

main {
  max-width: 40ch;
}

header,
footer {
  text-align: center;
  text-wrap: balance;
}

.button-controls {
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
}

.purchase-button:disabled[disabled] {
  color: var(--text-color-secondary);
}

.purchase-button:not(:disabled) {
  background-color: var(--button-color-primary);
}

.purchase-button {
  align-self: stretch;
  color: var(--text-color-primary);
  margin: 0.5rem 0 0;
}

.mixtape-reset-button {
  align-self: stretch;
  background-color: var(--button-color-secondary);
  color: var(--text-color-primary);
  margin: 0.5rem 0 0;
}

@media (min-width: 720px) {
  main {
    max-width: 80ch;
  }
}
